  <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          CT
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a routerLink="/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a routerLink="/all-user">
              <i class="now-ui-icons users_circle-08"></i>
              <p>User</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="now-ui-icons location_map-big"></i>
              <p>Post</p>
            </a>
          </li>

        </ul>
      </div>