/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

.navbar-toggle-my{
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.625rem;
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}

#main-panel .main-div{
    margin: 5% 1% 1% 1%;
}
.footer{
    width: 83%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}
.edit-delete a{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.edit-delete .fa-pencil-square{
 color: rgb(23, 23, 24);
}
.edit-delete .fa-trash-o{
    color: #f96332;
}

.main-panel{
    background: none;
}
.add-user-button{
    margin-right: 20px;
}
.add-post-button{
    margin-right: 20px;
    position: absolute;
    float: right;
    right: 10px;
    top: 60px;
}